<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/products/list}">
      <img class="img-fluid" alt="" width="100" th:src="@{/assets/images/logo.png}">
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/products/list}">Home</a>
        </li>
        <th:block th:if="${request.remoteUser}">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/security/logoff}">Sign Out</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  th:href="@{/order/viewOrders}">Your Orders</a>
          </li>
          <th:block th:each="auth: ${#authentication.authorities}">
            <li class="nav-item" th:if="${auth.authority.equals('STAF')}">
              <a class="nav-link" th:href="@{/admin/home/index}">Administration</a>
            </li>
          </th:block>
        </th:block>
        <th:block th:unless="${request.remoteUser}">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/security/login/form}">Sign In</a>
          </li>
        </th:block>
      </ul>
      <ul th:if="${request.remoteUser}" class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome [[${#authentication.getPrincipal().getUsername()}]]</a>
        </li>
      </ul>
    </div>
  </div>
</nav>